<Br>
<div class="container">
   <mat-form-field class="col-lg-12">
      <input matInput [matDatepicker]="picker"  (dateChange)="addEvent('change', $event)" placeholder="Choose A Date"  />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-lg-12">
    <input matInput atp-time-picker [formControl]="meetuptime"/>
  </mat-form-field>
  <div class="col-lg-12">
    <button color="primary" mat-raised-button (click)="save()">Save</button>
  </div>
  </div>
