<mat-sidenav-container>
<mat-sidenav position="start" mode="side" opened="true">
    <h5 align="center" class="mat-body-2">Categories</h5>  
  <mat-list role="list">

      <mat-divider></mat-divider>
        <mat-list-item role="listitem">Item 1</mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item role="listitem">Item 2</mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item role="listitem">Item 3</mat-list-item>
      </mat-list>
</mat-sidenav>

<mat-sidenav-content style="padding:10px;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z5" width="100%">
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    

</table>
</mat-sidenav-content>
</mat-sidenav-container>