<table>
  <tr>
    <th>Customer Name </th>
    <td>{{obj.name}}</td>
  </tr>
  <tR>
    <th>Address 1</th>
    <td>{{obj.address1}}</td>
  </tR>
  <tr>
    <th>Address 2</th>
    <td>{{obj.address2}}</td>
  </tr>
  <tr>
    <th>City</th>
    <td>{{obj.city}}</td>
  </tr>
  <tr>
    <th>Contact No:</th>
    <td>{{obj.contactno}}</td>
  </tr>
  <Tr>
    <th>Email</th>
    <td>{{obj.email}}</td>
    <th>Website</th>
    <td>{{obj.website}}</td>
  </Tr>
  <tr>
    <th>Country</th>
    <td>{{obj.country}}</td>
  </tr>


</table>
