<mat-card class="mat-elevation-z10">
    <mat-card-title><h3>Products</h3></mat-card-title>
    <mat-card-content class="mat-elevation-z10">
        <nav mat-tab-nav-bar >
            <a mat-tab-link
              routerLink="/adminpanel/product/view">
              View Products
            </a>
            <a mat-tab-link
            routerLink="/adminpanel/product/add">
            Add Products
          </a>
      
          </nav>
          
          <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>