/* You can add global styles to this file, and also import other style files */
@import "theme.scss";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

$primary-color: mat-color($primary);

body{
    width:100%;
    margin:0;
    background: #ffffff;
}

.main-toolbar{
    top:0;
    position:fixed;
}
.primary-color{
    background-color: mat-color($primary);
    color:#ffffff;
}

.login-card{
    margin:20%;
}
mat-bottom-sheet-container{
    background: transparent !important;
    box-shadow: none !important;
}
a{
    text-decoration: none;
}