<br>
<div class="searchpanel">
              <mat-radio-group matInput class="col-lg-3 col-xs-12">
                  <mat-radio-button value="Company">Company  </mat-radio-button>&nbsp;
                  <mat-radio-button value="Individual">Individual  </mat-radio-button>
                </mat-radio-group>
              
            <mat-form-field  class="col-lg-7 col-sm-10 col-xs-8">
                <input type="Text" [(ngModel)]="name" placeholder="Name " matInput />
              </mat-form-field>
              <button type="button" class="col-lg-2 col-xs-2" (click)="searchcust()" mat-icon-button><i class="material-icons">
                  find_in_page
                  </i></button>
              
<div class="container">  
  <div class="table-responsive">  
      <table mat-table  [dataSource]="dataSource" class="mat-elevation-z5 table table-striped" width="100%">
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Customer Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Address 1 </th>
            <td mat-cell *matCellDef="let element"> {{element.address1}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Address 2</th>
            <td mat-cell *matCellDef="let element"> {{element.address2}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element,let ind = index"><button mat-button (click)="view(ind)" color="primary">View</button></td>
          </ng-container>
        
          <tr mat-header-row   *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row style="padding:10px;" *matRowDef="let row; columns: displayedColumns;"></tr>
        
    
    </table>
  </div>
  </div>